[_top] {
    border-bottom : 1px solid #cdcdcd;
    margin-bottom : 15px;
}

[_itemRss] {
    font-size : 80%;
    border-bottom : 1px solid #898989;
    min-height : 25px;
}

[_actuTitle] {
    margin-bottom : 50px;
}